<!DOCTYPE HTML>
<html>
<head>
	<title>blackswan industries</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<meta name="description" content=""/>
	<meta name="keywords" content="blackswan industries london digital solutions consultancy tdd pairing training mentoring"/>
	<meta property="og:locale" name="og:locale" content="en_US" />
	<meta property="og:type" name="og:type" content="article" />
	<meta property="og:title" name="og:title" content="blackswan industries - digital | code | craft" />
	<meta property="og:description" name="og:description" content="Blackswan is a digital solutions consultancy based in the heart of London. We believe that by keeping things simple
        and constantly measuring, the software delivery process can be surprise, stress, and risk free." />
	<meta property="og:url" name="og:url" content="http://www.blackswanindustries.co.uk/" />
	<meta property="og:site_name" name="og:site_name" content="blackswanindustries" />
	<meta property="og:image"  name="og:image"content="http://www.blackswanindustries.co.uk/images/logo.jpg" />

	<!-- TWITTER CARD META -->
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:site" content="http://www.blackswanindustries.co.uk/"/>
	<meta name="twitter:domain" content="blackswanindustries"/>
	<meta name="twitter:creator" content="@BlackswanIndLtd"/>
	<meta name="twitter:url" content="http://www.blackswanindustries.co.uk/" />
	<meta name="twitter:title" content="blackswan industries - digital | code | craft" />
	<meta name="twitter:description" content="Blackswan is a digital solutions consultancy based in the heart of London. We believe that by keeping things simple
        and constantly measuring, the software delivery process can be surprise, stress, and risk free." />
	<meta name="twitter:image:src" content="http://www.blackswanindustries.co.uk/images/logo.jpg" />
	<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" type="text/css"/>

	<!--[if lte IE 8]>
	<script src="js/html5shiv.js"></script><![endif]-->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.dropotron.js"></script>
	<script src="js/skel.min.js"></script>
	<script src="js/skel-panels.min.js"></script>
	<script src="js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="css/skel-noscript.css"/>
		<link rel="stylesheet" href="css/style.css"/>
		<link rel="stylesheet" href="css/style-desktop.css"/>
		<link rel="stylesheet" href="css/style-noscript.css"/>
	</noscript>
	<!--[if lte IE 8]>
	<link rel="stylesheet" href="css/ie8.css"/><![endif]-->
	<link rel="icon" href="images/icon32.png" sizes="32x32"/>
	<link rel="icon" href="images/icon64.png" sizes="64x64"/>
	<link rel="icon" href="images/icon96.png" sizes="96x96"/>
	<link rel="icon" href="images/icon128.png" sizes="128x128"/>
	<link rel="icon" href="images/icon256.png" sizes="256x256"/>
</head>

<% var className = (current.source == 'index') ? "homepage" : current.source; %>
<body class="<%- className %>">

<!-- Header -->
<%- partial("_shared/header") %>

<%- yield %>

<!-- Footer -->
<%- partial("_shared/footer") %>

</body>
</html>