<!-- Banner -->
<div id="banner">
    <h2>Simple solutions. Brilliantly executed.</h2>
	<span class="byline">
        Blackswan is a digital solutions consultancy based in the heart of London. We believe that by keeping things simple
        and constantly measuring, the software delivery process can be surprise, stress, and risk free.
	</span>
</div>
<hr/>
<div class="wrapper style1">
    <span class="byline">blackswan <b>services</b> the entire project lifecycle</span>
    <div class="row">
        <article class="4u special">
            <img src="images/flat01.jpg" alt=""/>
            <h4>requirements & minimum viable product</h4>
            <p>
                We can help from the very start of the solution inception process, helping to prioritise the aspects that will
                allow for iterative, constant-growth software.
            </p>
        </article>
        <article class="4u special">
            <img src="images/flat03.jpg" alt=""/>
            <h4>solutions</h4>
            <p>
                Blackswan has helped to plan and deliver successful projects in diverse business areas such as Investment Banking,
                Academic Publishing, Telecomms, Government and Broadcasting.
            </p>
        </article>
        <article class="4u special">
            <img src="images/flat02.jpg" alt=""/>
            <h4>training</h4>
            <p>
                From assisting whole teams to follow a light touch lean-style process, to individual mentoring of development staff in TDD,
                Continuous Delivery and Monitoring strategies.
            </p>
        </article>
    </div>

</div>

<div class="carousel">
    <span class="byline">blackswan <b>expertise</b> specializes in these solution technologies</span>
    <div class="reel">

        <article>
            <a class="image featured"><img src="images/flat01.jpg" alt=""/></a>
            <header>
                <h3>languages</h3>
            </header>
            <p>java | scala | js | python</p>
        </article>

        <article>
            <a class="image featured"><img src="images/flat02.jpg" alt=""/></a>
            <header>
                <h3>platforms</h3>
            </header>
            <p>linux | aws | cloudfoundry | heroku</p>
        </article>

        <article>
            <a class="image featured"><img src="images/flat03.jpg" alt=""/></a>
            <header>
                <h3>data</h3>
            </header>
            <p>cassandra | elastic | marklogic | oracle</p>
        </article>

        <article>
            <a class="image featured"><img src="images/flat04.jpg" alt=""/></a>
            <header>
                <h3>build & deploy</h3>
            </header>
            <p>teamcity | travis | goCd | jenkins</p>
        </article>

        <article>
            <a class="image featured"><img src="images/flat05.jpg" alt=""/></a>
            <header>
                <h3>devops</h3>
            </header>
            <p>docker | newrelic | elk</p>
        </article>
    </div>
</div>

<div class="wrapper style2">
    <span class="byline">blackswan <b>values</b> simple but effective</span>
    <div class="row">
        <article class="4u special">
            <img src="images/flat01.jpg" alt=""/>
            <h4>test driven design</h4>
            <p>
                Testing is at the heart of all durable software. Build quality into both prod and test code.
            </p>
        </article>
        <article class="4u special">
            <img src="images/flat03.jpg" alt=""/>
            <h4>automate</h4>
            <p>
                Everything from build and release automation to app monitoring and alerting.
            </p>
        </article>
        <article class="4u special">
            <img src="images/flat02.jpg" alt=""/>
            <h4>debt reduction</h4>
            <p>
                Nimbleness of design comes from merciless refactoring. Fix those broken windows.
            </p>
        </article>
    </div>

    <div class="row">
        <article class="4u special">
            <img src="images/flat02.jpg" alt=""/>
            <h4>simple != unsophisticated</h4>
            <p>
                Clever in the small, simple in the large. Less magic leaves little room for surprises.
            </p>
        </article>
        <article class="4u special">
            <img src="images/flat05.jpg" alt=""/>
            <h4>devops driven</h4>
            <p>
                We believe that the best people to fix a system are those that wrote it.
            </p>
        </article>
        <article class="4u special">
            <img src="images/flat06.jpg" alt=""/>
            <h4>sustainability</h4>
            <p>
                Bleeding edge is all very well until it cuts you. Think before you leap.
            </p>
        </article>
    </div>
</div>

<div class="carousel">
    <span class="byline">blackswan <b>open source</b> gives back to the community</span>
    <div class="reel">
        <article>
            <a class="image featured"><img src="images/flat06.jpg" alt=""/></a>
            <header>
                <h3><a href="http://fintrospect.io">fintrospect</a></h3>
            </header>
            <p>Implement fast, type-safe HTTP contracts for finagle</p>
        </article>

        <article>
            <a class="image featured"><img src="images/flat05.jpg" alt=""/></a>
            <header>
                <h3><a href="http://configur8.github.io">configur8</a></h3>
            </header>
            <p>Typesafe config for 12-factor apps. available in <a href="http://github.com/daviddenton/configur8/scala">scala</a> and <a
                    href="http://github.com/daviddenton/configur8/java">java</a> flavours</p>
        </article>

        <article>
            <a class="image featured"><img src="images/flat04.jpg" alt=""/></a>
            <header>
                <h3><a href="http://github.com/daviddenton/databob.scala">databob</a></h3>
            </header>
            <p>Random, zero-boilerplate object builders for <a href="http://github.com/daviddenton/databob.scala">scala</a>, <a href="http://github.com/daviddenton/databob">JS</a> and <a
                    href="http://github.com/daviddenton/databob.kotlin">kotlin</a></p>
        </article>

        <article>
            <a class="image featured"><img src="images/flat03.jpg" alt=""/></a>
            <header>
                <h3><a href="http://github.com/daviddenton/crossyfield">crossyfield</a></h3>
            </header>
            <p>Add functional cross-field validation to Scala apps</p>
        </article>

        <article>
            <a class="image featured"><img src="images/flat02.jpg" alt=""/></a>
            <header>
                <h3><a href="http://github.com/daviddenton/finagle-circuit">finagle-circuit</a></h3>
            </header>
            <p>Actor-based HTTP circuit-breaking for finagle</p>
        </article>

        <article>
            <a class="image featured"><img src="images/flat01.jpg" alt=""/></a>
            <header>
                <h3><a href="http://github.com/daviddenton/zeit">zeit</a></h3>
            </header>
            <p>Clock and scheduler for node.js, providing powerful task control</p>
        </article>

        <article>
            <a class="image featured"><img src="images/flat06.jpg" alt=""/></a>
            <header>
                <h3><a href="http://github.com/daviddenton/metrique">metrique</a></h3>
            </header>
            <p>DSL for instrumenting hierarchical JVM metric trees into StatsD</p>
        </article>

        <article>
            <a class="image featured"><img src="images/flat05.jpg" alt=""/></a>
            <header>
                <h3><a href="http://github.com/daviddenton/balderdash">balderdash</a></h3>
            </header>
            <p>Builder DSL for generating monitoring dashboards</p>
        </article>

        <article>
            <a class="image featured"><img src="images/flat04.jpg" alt=""/></a>
            <header>
                <h3><a href="http://github.com/daviddenton/hamsandwich">hamsandwich</a></h3>
            </header>
            <p>Adds powerful extensions to combine hamcrest matchers in a readable way</p>
        </article>

        <article>
            <a class="image featured"><img src="images/flat03.jpg" alt=""/></a>
            <header>
                <h3><a href="http://github.com/daviddenton/qwg">qwg</a></h3>
            </header>
            <p>Chrome extension which converts the omnibox into a keyboard launcher</p>
        </article>

        <article>
            <a class="image featured"><img src="images/flat02.jpg" alt=""/></a>
            <header>
                <h3><a href="http://github.com/daviddenton/niceassert">niceassert</a></h3>
            </header>
            <p>Junit extensions for improving assertion readability and reusability</p>
        </article>
    </div>
</div>


