<!-- Banner -->
<div id="banner">
    <h2>Simple solutions. Brilliantly executed.</h2>
	<span class="byline">
        Blackswan is a digital solutions consultancy based in the heart of London. We believe that by keeping things simple
        and constantly measuring, the software delivery process can be surprise, stress, and risk free.
	</span>
</div>

<!-- Offering -->
<div class="wrapper style2">
    <span class="byline">blackswan <b>offerings</b> for the duration</span>
    <section id="features" class="container special">
        <div class="row">
            <article class="4u special">
                <span>
                    <img src="images/pic01.jpg" alt=""/>
                    <b class="floating">requirements & mvp</b>
                </span>
                <p>
                    We can help from the very start of the solution inception process, helping to prioritise the aspects that will
                    allow for iterative, constant-growth software.
                </p>
            </article>
            <article class="4u special">
                <span>
                    <img src="images/pic07.jpg" alt=""/>
                    <b class="floating">solutions</b>
                </span>
                <p>
                    Blackswan has helped to plan and deliver successful projects in the such diverse business areas as Investment Banking,
                    Academic Publishing, Telecomms, Government and Broadcasting.
                </p>
            </article>
            <article class="4u special">
                <span>
                    <img src="images/pic08.jpg" alt=""/>
                    <b class="floating">training</b>
                </span>
                <p>
                    From assisting whole teams to follow a light touch lean-style process, to individual mentoring of development staff in TDD,
                    Continuous Delivery and Monitoring strategies.
                </p>
            </article>
        </div>
    </section>

</div>

<!-- Expertise Carousel -->
<div class="carousel">
    <span class="byline">blackswan <b>expertise</b> specializes in these solution technologies</span>
    <div class="reel">
        <article>
            <a class="image featured"><img src="images/pic06.jpg" alt=""/></a>
            <header>
                <b class="floating-carousel">languages</b>
            </header>
            <p>java | scala | js | python</p>
        </article>

        <article>
            <a class="image featured"><img src="images/pic08.jpg" alt=""/></a>
            <header>
                <b class="floating-carousel">platforms</b>
            </header>
            <p>linux | aws | cloudfoundry | heroku</p>
        </article>

        <article>
            <a class="image featured"><img src="images/pic02.jpg" alt=""/></a>
            <header>
                <b class="floating-carousel">next-gen data</b>
            </header>
            <p>cassandra | elastic | marklogic | oracle</p>
        </article>

        <article>
            <a class="image featured"><img src="images/pic05.jpg" alt=""/></a>
            <header>
                <b class="floating-carousel">build & cd</b>
            </header>
            <p>teamcity | travis | goCd | jenkins</p>
        </article>

        <article>
            <a class="image featured"><img src="images/pic07.jpg" alt=""/></a>
            <header>
                <b class="floating-carousel">devops</b>
            </header>
            <p>docker | newrelic | elk</p>
        </article>
    </div>
</div>

<div class="wrapper style1">
    <span class="byline">blackswan <b>values</b> simple but effective</span>
    <section id="values" class="container special">
        <div class="row">
            <article class="4u special">
                <img src="images/flat01.jpg" alt=""/>
                <b class="floating">test driven design</b>
                <p class="floating-desc">
                    Testing is at the heart of all durable software. Build quality into both prod and test code.
                </p>
            </article>
            <article class="4u special">
                <img src="images/flat03.jpg" alt=""/>
                <b class="floating">automate</b>
                <p class="floating-desc">
                    Everything from build and release automation to app monitoring and alerting.
                </p>
            </article>
            <article class="4u special">
                <img src="images/flat02.jpg" alt=""/>
                <b class="floating">debt reduction</b>
                <p class="floating-desc">
                    Nimbleness of design comes from merciless refactoring. Fix those broken windows.
                </p>
            </article>
            <article class="4u special">
                <img src="images/flat02.jpg" alt=""/>
                <b class="floating">simple != unsophisticated</b>
                <p class="floating-desc">
                    Clever in the small, simple in the large. Less magic leaves little room for surprises.
                </p>
            </article>
            <article class="4u special">
                <img src="images/flat05.jpg" alt=""/>
                <b class="floating">devops driven</b>
                <p class="floating-desc">
                    We believe that the best people to fix a system are those that wrote it.
                </p>
            </article>
            <article class="4u special">
                <img src="images/flat06.jpg" alt=""/>
                <b class="floating">sustainability</b>
                <p class="floating-desc">
                    Bleeding edge is all very well. Until it cuts you.
                </p>
            </article>
        </div>
    </section>

</div>

<!-- Open Source Carousel -->
<div class="carousel">
    <span class="byline">blackswan <b>open source</b> gives back to the community</span>
    <div class="reel">
        <article>
            <a class="image featured"><img src="images/pic06.jpg" alt=""/></a>
            <header>
                <h3 class="floating-carousel"><a target="_top" href="http://fintrospect.io">fintrospect</a></h3>
            </header>
            <p>Implement fast, type-safe HTTP contracts for finagle</p>
        </article>

        <article>
            <a class="image featured"><img src="images/pic05.jpg" alt=""/></a>
            <header>
                <h3 class="floating-carousel"><a target="_top" href="http://configur8.github.io">configur8</a></h3>
            </header>
            <p>Typesafe config for 12-factor apps. available in <a target="_top" href="http://github.com/daviddenton/configur8/scala">scala</a> and <a
                    href="http://github.com/daviddenton/configur8/java">java</a> flavours</p>
        </article>

        <article>
            <a class="image featured"><img src="images/pic04.jpg" alt=""/></a>
            <header>
                <h3 class="floating-carousel"><a target="_top" href="http://github.com/daviddenton/databob.scala">databob</a></h3>
            </header>
            <p>Random, zero-boilerplate object builders for <a target="_top" href="http://github.com/daviddenton/databob.scala">scala</a>, <a target="_top" href="http://github.com/daviddenton/databob">JS</a> and <a
                    href="http://github.com/daviddenton/databob.kotlin">kotlin</a></p>
        </article>

        <article>
            <a class="image featured"><img src="images/pic03.jpg" alt=""/></a>
            <header>
                <h3 class="floating-carousel"><a target="_top" href="http://github.com/daviddenton/crossyfield">crossyfield</a></h3>
            </header>
            <p>Add functional cross-field validation to Scala apps</p>
        </article>

        <article>
            <a class="image featured"><img src="images/pic02.jpg" alt=""/></a>
            <header>
                <h3 class="floating-carousel"><a target="_top" href="http://github.com/daviddenton/finagle-circuit">finagle-circuit</a></h3>
            </header>
            <p>Actor-based HTTP circuit-breaking for finagle</p>
        </article>

        <article>
            <a class="image featured"><img src="images/pic01.jpg" alt=""/></a>
            <header>
                <h3 class="floating-carousel"><a target="_top" href="http://github.com/daviddenton/zeit">zeit</a></h3>
            </header>
            <p>Clock and scheduler for node.js, providing powerful task control</p>
        </article>

        <article>
            <a class="image featured"><img src="images/pic06.jpg" alt=""/></a>
            <header>
                <h3 class="floating-carousel"><a target="_top" href="http://github.com/daviddenton/metrique">metrique</a></h3>
            </header>
            <p>DSL for instrumenting hierarchical JVM metric trees into StatsD</p>
        </article>

        <article>
            <a class="image featured"><img src="images/pic05.jpg" alt=""/></a>
            <header>
                <h3 class="floating-carousel"><a target="_top" href=http://github.com/daviddenton/balderdash">balderdash</a></h3>
            </header>
            <p>Builder DSL for generating monitoring dashboards</p>
        </article>

        <article>
            <a class="image featured"><img src="images/pic04.jpg" alt=""/></a>
            <header>
                <h3 class="floating-carousel"><a target="_top" href="http://github.com/daviddenton/hamsandwich">hamsandwich</a></h3>
            </header>
            <p>Adds powerful extensions to combine hamcrest matchers in a readable way</p>
        </article>

        <article>
            <a class="image featured"><img src="images/pic03.jpg" alt=""/></a>
            <header>
                <h3 class="floating-carousel"><a target="_top" href="http://github.com/daviddenton/qwg">qwg</a></h3>
            </header>
            <p>Chrome extension which converts the omnibox into a keyboard launcher</p>
        </article>

        <article>
            <a class="image featured"><img src="images/pic02.jpg" alt=""/></a>
            <header>
                <h3 class="floating-carousel"><a target="_top" href="http://github.com/daviddenton/niceassert">niceassert</a></h3>
            </header>
            <p>Junit extensions for improving assertion readability and reusability</p>
        </article>
    </div>
</div>
